body {
  color: #330000;
  margin-left: 40px;
  margin-top: 25px;
}

.box {
  width: 350px;
  border-left: 2px solid black;
  padding-left: 20px;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
}
