body {
  margin-left: 40px;
  margin-top: 25px;
  color: #333333;
  font-family: 'Times New Roman', serif;
}

h1,
h2 {
  text-align: left;
}

h1 {
  font-size: 30px;
  color: mediumBlue;
}

h2 {
  font-size: 24px;
  color: orange;
}

.ul-list1 {
  color: mediumBlue;
  list-style-type: square;
}

.ul-list2 {
  list-style-type: disc;
}

.color {
  color: red;
}
